<div class="flex-ns flex-wrap center mw9">
  <div class="w-100 w-50-l order-1">
    <div class="w-100-ns center">
      <script src="https://asciinema.org/a/PjF9mQhi8SqmQwUMK4tO1FgcT.js" data-speed=2 data-autoplay="true" data-loop="true" data-rows=25 id="asciicast-PjF9mQhi8SqmQwUMK4tO1FgcT" async></script>
    </div>
  </div>
  <div class="w-100 w-50-l">
    <div class="w-80-ns center tc">
      <h3 class="f1 fw4 white-90 ma0 pt4 lh-title pt0-l">Execution logs</h3>
      <p class="f3 lh-copy white-70">
        Selenium Compose provides enought logs, elements states, change history and durations.
      </p>
      <p class="f3 lh-copy white-70">
        Monitor execution process, debug, make fixes or amendment to existing tests effortlessly.
      </p>
    </div>
  </div>
</div>
