<div class="flex-ns flex-wrap center mw9">
  <div class="w-100 w-50-l order-1">
    <div class="w-100-ns center">
      <img src=" {{ .Params.gif }}" alt="image depicting an example of test execution" class="img shadow-5">
    </div>
  </div>
  <div class="w-100 w-50-l">
    <div class="w-80-ns center tc">
      <h3 class="f1 fw4 white-90 ma0 pt4 lh-title pt0-l">Execution logs</h3>
      <p class="f3 lh-copy white-70">
        Selenium Compose provides enought logs, elements states, change history and durations.
      </p>
      <p class="f3 lh-copy white-70">
        Monitor execution process, debug, make fixes or amendment to existing tests effortlessly.
      </p>
    </div>
  </div>
</div>
