  <div class="flex-ns flex-wrap center mw9">
    <!-- RIGHT -->
    <div class="w-100 tc">
      <div class="h4">
        {{ partial "svg/gopher-hero.svg" . }}
      </div>
      <p class="f6 mid-gray m0 p0 pt3">npm</p>
      <div class="code f6 bg-black white-40 lh-copy pv3 ph3 br2 w-100 w-50-ns center mb2 tl">
        $ npm i selenium-compose -g <br />
      </div>

      <p class="f6 mid-gray m0 p0 pt3">Mac OS (coming soon...)</p>
      <div class="code f6 bg-black white-40 lh-copy pv3 ph3 br2 w-100 w-50-ns center mb2 tl">
        $ brew install selenium-compose <br />
      </div>
      <p class="f6 mid-gray">Windows (coming soon...)</p>
      <div class="code f6 bg-black white-40 lh-copy pv3 ph3 br2 w-100 w-50-ns center tl">
        $ choco install selenium-compose -confirm <br />
      </div>
      <p class="f6 mid-gray">Linux (coming soon...)</p>
      <div class="code f6 bg-black white-40 lh-copy pv3 ph3 br2 w-100 w-50-ns center tl">
        $  snap install selenium-compose <br />
      </div>

      <p class="f5 nested-links"><a href="{{ "getting-started/installing/" | absURL }}" class="link">See the Getting Started Guide for other methods. {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}</a></p>
    </div>
  </div>
