<div class="w-100 center pt5">
  <div class="w-100 w-40-l tc center">
    <img src="/images/GitHub-Mark-64px.png" alt="Github Logo" class="tc center">
  </div>
</div>

<div class="flex-ns flex-wrap center center mw9">
  <!-- LEFT -->
  <div class="w-100 tc w-third-l">
    <h3 class="f3 mv3 accent-color-light">
      A warm and heartfelt welcome to all contributors.
    </h3>
    <ul class="list ma0 pa0">
      <li class="mb3 f4 white-70">
        Join us and be the part of the community
      </li>
    </ul>
  </div>

  <div class="w-100 w-third-l tc">
    <div class="w-60-l center white-70">
      <p class="f4">Selenium Compose is open-source and completely free.</p>
    </div>
  </div>

  <div class="w-100 tc w-third-l">
    <h3 class="f3 mv3 accent-color-light">Motivation</h3>
    <ul class="list ma0 pa0 white-70">
      <li class="mb3 f4">
        Help us to make the developer experience simpler, lives easier and improve Quality Assurance for more robust Web.
      </li>
    </ul>
  </div>
</div>
